baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'My New Hugo Site'
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[security]
  [security.funcs]
    getenv = ["^HUGO_", "^PUBLIC_"]