{{ define "main" }}
  <!-- 大型视觉区（Banner） -->
  <section class="banner">
    <div class="container">
      <h1>欢迎来到 AKIHA FIELD</h1>
      <p>探索精彩的视觉小说世界，体验独特的美少女游戏文化</p>
      <div class="buttons">
        <a href="{{ "games/" | relURL }}" class="btn">探索产品</a>
        <a href="{{ "about/" | relURL }}" class="btn">了解更多</a>
      </div>
    </div>
  </section>

  <!-- 内容模块区 -->
  <section class="content">
    <div class="container">
      <h2>视觉小说（Visual Novel）</h2>
      <p>视觉小说为玩家提供了一种高度沉浸式和个性化的叙事体验。它是一个能够承载深刻故事、复杂人物和丰富情感的广阔平台。
        如果你喜欢阅读故事，并希望亲身参与并影响故事的走向，那么视觉小说会是一个非常值得尝试的选择。
      </p>
    </div>
  </section>
{{ end }}